/* Light mode */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #52ec23; 
  --md-accent-fg-color: #FF9800;  
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #ff07f7; 
  --md-accent-fg-color: #FFC107;  
}
