/* Light mode */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: ##2E7CD1; 
  --md-accent-fg-color: #FF9800;  
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #00BCD4; /* Cyan-ish */
  --md-accent-fg-color: #FFC107;  /* Amber */
}
